/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.5; background: #fff; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
a { outline: none; }

/* defaults */
body { font-size: 100%; font-family: Helvetica, Arial, sans-serif; color: #333; background-color: #6F5857;}
h1,h2,h3,h4,h5,h6 { font-weight:normal; color: #6F5857; font-family: Helvetica, Arial, sans-serif; }


h1 { font-size: 4em; }
h2 { font-size: 3.3em; }
h3 { font-size: 2em; }
h4 { font-size: 1.7em; }
h5 { font-size: 1.2em; }
h6 { font-size: .666em; }

p { margin: 0 0 1.5em; }

ul, ol { margin: 0 1.5em 1.5em 1.5em; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dl dd { margin-left: 1.5em; }

abbr, acronym { border-bottom: 1px dotted #000; }
address { margin-top: 1.5em; font-style: italic;}

a { color: #9E4D5D; text-decoration:none; font-weight:bold;}
a:hover { color:#D42858; border-bottom:0;}

blockquote { margin: 1.5em; }
strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
pre, code { margin: 1.5em 0; white-space: pre; }
pre, code, tt { font: 1em monospace; line-height: 1.5; } 
tt { display: block; margin: 1.5em 0; line-height: 1.5; }

table { margin-bottom: 1.4em; }
th { border-bottom: 2px solid #ddd; font-weight: bold; }
td { border-bottom: 1px solid #ddd; }
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: #ffc; }
.small { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.quiet { color: #999; }
.highlight { background: #ffc; }

/* layout */
div#site { width: 808px; border-left: 33px dotted #6f5857; margin: 2em auto;
  padding: 2.2em 2em 2em 1.2em; background-color: #FFF2DF;
}

h1#logo {
  margin-left:1em;
}

h2#title {
  color: #D95A31; line-height: .7em; margin-bottom:.3em;
}

div.col_left {
  width: 66%; float:left; margin-left:3em;
}
div.col_right {
  width:33%; text-align:center; float:right; border-left: 1px dotted;
}

.sidebar_item {
  padding: 1em;
}

.sidebar_item img {
  border: 5px double #D95A31;
}

ul#archive {
  margin-bottom: 4.2em;
}

ul#archive li {
  list-style:none; margin:1.2em; border-bottom: dotted 1px;
}

ul#archive li a {
  font-size: 3.3em; color: #D95A31;
}

ul#archive li a:hover {
  color: #D48618
}

h2#title {
  text-align:center; border-bottom:3px dotted; margin-bottom: 1.2em;
}

div#post {
  margin-left: 1.2em;
}

div#post p img { background-color: #fff; padding: 7px;}

div#related {
  margin:1em;
  border-bottom: dotted 1px;
}

div#disqus_thread {
  margin: 1em;
}
div#disqus_thread a {
  color: #D95A31;
}
div#disqus_thread a:hover {
  color: #D48618;
}
div#disqus_thread h3#dsq-add-new-comment, div#disqus_thread h3#dsq-comments-count {
  font-weight:normal;
}


div#footer {
  clear:both; text-align:right;
}

p#license {
  text-align:center;
}